extends ./layout/index
block slider
    .slider
        h1 Rio de ganeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae doloribus modi pariatur at nemo est vero aliquam, quidem laboriosam, repudiandae distinctio molestiae aspernatur quisquam, repellendus voluptatibus similique earum sapiente deleniti!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos consequatur quo nulla vel ex quasi quia dignissimos. Possimus laboriosam sequi, nostrum, facilis doloribus libero, fuga consequuntur repellendus autem nihil ad?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a canada
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
            include ./layout/bloque_testimonios