extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre la banda", class="img-fluid")

            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum, justo a cursus molestie, sem eros ultrices quam, non congue ex mi vel neque. Suspendisse vel enim non tellus sollicitudin sollicitudin. Suspendisse potenti. Nullam vehicula commodo purus. Integer libero lectus, venenatis quis metus eu, dictum consectetur sapien. Aenean luctus ac elit a vehicula. Quisque vitae libero vehicula, rutrum eros nec, consectetur tortor. In sed augue dictum, rhoncus est et, aliquam metus. Donec ut vestibulum erat, ac tristique elit.

                p Sed commodo commodo dignissim. In tempus augue sed mi elementum dictum. Nullam nec bibendum dolor, in tristique nulla. Pellentesque magna felis, elementum sed turpis sed, dapibus porttitor tortor. Integer elementum sit amet urna at euismod. Donec dui purus, feugiat hendrerit justo eu, viverra cursus lacus. Sed gravida lorem a tellus consequat ultrices. Cras ut magna non libero feugiat congue. Sed suscipit nisl vel velit varius luctus.

                p Curabitur consequat, diam porttitor aliquet malesuada, massa mi cursus massa, eu porta mauris lectus pharetra nulla. Sed euismod iaculis tellus nec lacinia. Nulla et ornare dolor, at sollicitudin tellus. Nulla imperdiet sem at ultrices ullamcorper. Donec consequat, ligula ut ullamcorper pulvinar, nisl eros tempus nunc, eu finibus arcu mi eget nisl. Quisque sed enim ornare, varius augue et, consectetur elit. Nunc scelerisque ligula quis mauris blandit ultrices. Nullam pharetra et ipsum sit amet vehicula.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icnonos seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quisquam nulla, quaerat.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icnonos destino", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quisquam nulla, quaerat.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icnonos precio", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quisquam nulla, quaerat.